PORT=1401

# Redis configuration
REDIS_HOST=
REDIS_PORT=
# REDIS_PASSWORD=

# Database configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
# seed admin user
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_FULLNAME=
# frontend URL
CORS_ORIGIN=
# JWT configuration
JWT_SECRET=
JWT_ACCESS_EXPIRATION =
JWT_REFRESH_EXPIRATION =
BCRYPT_ROUNDS = 
# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=